# Operators in Python

## Python Arithmetic Operators

In [3]:
import pandas as pd

table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [5]:
a : int = 2
b : int = 4

print(a + b)
print(a - b)
print(a * b)
print(a / b)

6
-2
8
0.5

In [7]:
a : int = 11
b : int = 3

print(a % b)

0

In [9]:
print(2**2)
print(2**3)

4
8

In [14]:
print( 14 / 3)
print( 14 // 3)

4.666666666666667
4

## Python Assignment Operators

In [15]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [17]:
# +=
a : int = 7
print(a)
a = a + 2
a += 2

7

## Python Comparison Operators

In [23]:
a : int = 7
b : int = 10
c : int = "7"
d : int = 7

print(a == b)
# a == b
# 7 == 11
# False

print(a == d)
# a == b
# 7 == 7
# True

print(a == c)
# a == b
# 7 == '7'
# False

print (a != b)
# a == b
# 7 == 7
# False

False
True
False
True

In [29]:
# > , <
a : int = 7
b : int = 8

print(a > b)
print(a < b)

False
True

In [27]:
# >= , <=
a : int = 7
b : int = 14

print(a <= b)
print(a >= b)

True
False

### ASCII Code

* A = 65 to Z = 90
---

* a = 97 to z = 122
---
* 0 = 48 to 9 = 57

In [30]:
# > , <
a : int = "A"
b : int = "B"

print(a < b)
print(a > b)

True
False

In [32]:
ord("A") # to get Character ASCII Number

65

In [34]:
chr(65)

'A'

## Python Logical Operators

In [36]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [37]:
print( True and True and True)
print( True and False and True)
print( False and False and True)

True
False
False

In [39]:
print( True or True or True)
print( True or False or True)
print( False or False or True)
print( False or False or False)

True
True
True
False

In [45]:
name : str = "Saboor"
print(not name == "Saboor")
print(name != "Saboor")

False
False

## Python Identity Operators

In [46]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [49]:
x : str = 'abc'
z : str = 'abc'

print(id(x)) # Check the id of variable from Memory Address
print(id(z))

x is not z

140728998104784
140728998104784

False

In [48]:
# It Checks the Physical Address of the Variables
x is z

True

## Python Membership Operators

In [50]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [55]:
names : list[str] = [chr(i) for i in range(65,91)]

# Long method to check "D" is present in the list
for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

# Short and Easy Method to Check the same code written above
"D" in names

0 A
1 B
2 C
3 D
True

True

In [59]:
# Example
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Sir Hamza']

user_input : str = input("Enter your name")

user_input in names

True

In [70]:
# Example of "not in"
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Sir Hamza']

user_input : str = input("Enter your name")

user_input not in names

True

In [68]:
table[6]

,Operator,Name,Description,Example,Try it
0,&,AND,Sets each bit to 1 if both bits are 1,x & y,Try it »
1,|,OR,Sets each bit to 1 if one of two bits is 1,x | y,Try it »
2,^,XOR,Sets each bit to 1 if only one of two bits is 1,x ^ y,Try it »
3,~,NOT,Inverts all the bits,~x,Try it »
4,<<,Zero fill left shift,Shift left by pushing zeros in from the right ...,x << 2,Try it »
5,>>,Signed right shift,Shift right by pushing copies of the leftmost ...,x >> 2,Try it »

## Operator Precedence

<img src="https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

### PEMDAS

In [90]:
# print( 3 + 2 - 2 * 4 / 2 + 2)

# print((6 + 3) - (6 + 3))

3.0

# Numbers (Book Chapter # 2)

In [76]:
universe_age = 14_000_000_000

In [77]:
# assigning Multiple Operator

# this concept is known as UNZIP
#0  1   2    0         1    2
a , b , c = 'saboor' , 7 , 3.0      # It will save the data in tuple

print(a)
print(b)
print(c)

saboor
7
3.0

In [82]:
data = ("saboor" , 7 , 3.0)
print(*data)    # print all values

"a" * 3

saboor 7 3.0

'aaa'

In [85]:
# Constants
MAX_CONNECTIONS = 5000

# All Letters of Constant Variable must be capital

### Walrus Operator
The Walrus Operator, introduced in Python 3.8, offers a way to accomplish two tasks at once: assigning a value to a variable, and returning that value, which can sometimes offer a way to write shorter, more readable code, that may even be more computationally efficient.

In [87]:
a : int = 10

if( a < (b := a + 5)):
    print(b)
else:
    print('else is working')

15