## String Datatype in python

In [1]:
#boundries 
# 'string text' , "string text" , ''' string ''' , """ string text """

name: str = "Saboor Hussain"
name1: str = 'Saboor Hussain'

print(type(name))
print(name)

<class 'str'>
Saboor Hussain

In [ ]:
# Error of Single Quote
message: str = 'PIAIC Student Card \n father's Name'

# Solution
message: str = "PIAIC Student Card \n father's Name"

# Or   (We can use double Quote in Single Quote)
message: str = 'PIAIC "Student Card" \n father Name'

### BACKSLASH ( \ )

In [12]:
# Convert any special character into simplpe character, place \ before character
message: str = 'PIAIC Student Card \n father\'s Name'

print (7 + \
       8 + \
        2)

17

### Concatination

In [13]:
name : str = "Saboor Hussain"
fname : str = "Syed Ali Khalid"
education : str = "BS CE"
age : int = 30


card : str = "PIAIC Student Card\nStudent Name: " + name + \
"\nAge" + str(age) + "\n"
"\Father Name" + str(age) + "\n"


print(card)

PIAIC Student Card
Student Name: Saboor Hussain
Age30

### Triple Quatation String or Mutiline String ( """ , ''')

In [18]:
double_quatation_card : str = """
PIAIC Student Card
Student Name : Saboor
Father's Name : Ali Khalid
Age : 30
"""
single_quatation_card : str = '''
PIAIC Student Card
Student Name : Saboor
Father's Name : Ali Khalid
Age : 30
'''

print(double_quatation_card)
print(single_quatation_card)

PIAIC Student Card
Student Name : Saboor
Father's Name : Ali Khalid
Age : 30


PIAIC Student Card
Student Name : Saboor
Father's Name : Ali Khalid
Age : 30

### F-String Python ( Recommanded )

In [28]:
name : str = "Saboor Hussain"
fname : str = "Syed Ali Khalid"
education : str = "BS CE"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name : {fname}
age : {age}

Total {2 + 8 + 9 + 3} 
"""

# Old
card1 : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name : %s
age : %d

Total {2 + 8 + 9 + 3} 
""" % {name , fname , age}

print(card)
# print(card1)

TypeError: not enough arguments for format string

### F-string and Jinja Style (Used in Django)
* Must be connected with server

In [ ]:
# F-String
"""
student name {name}
"""

# Jinja Style
"""
student name {{name}}
"""

### List Comprehension

In [26]:
name : str = "SaBoOr huSSaIn"

print(name.lower())
print(name.capitalize())

saboor hussain
Saboor hussain

In [27]:
# .format() is also a part of F-String

a = 7
b = 8

# {} place holder
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [33]:
name : str = "Saboor Hussain"
fname : str = "Syed Ali Khalid"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name : {0}
age : {2}
""".format(fname, name, age)
# index:    0       1    2


card1 : str = """
PIAIC Student Card
Student Name : {a}
Father's Name : {b}
age : {c}
""".format(b = fname, a = name, c = age)
# index:    0             1      2

print(card)
print(card1)

PIAIC Student Card
Student Name : Saboor Hussain
Father's Name : Syed Ali Khalid
age : 30


PIAIC Student Card
Student Name : Saboor Hussain
Father's Name : Syed Ali Khalid
age : 30

In [37]:
student_code : str = """
print("My Name is Saboor Hussian")
a : int = 2
b : int = 2

print ( a + b)
"""

exec (student_code)

My Name is Saboor Hussian
4

### Methods and Strings

In [42]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [47]:
name : str = "Saboor Hussain"

# variable_name.method()
print(name.capitalize())

Saboor hussain
b'Saboor Hussain'

In [51]:
name : str = "     Saboor Hussain     "

# variable_name.method()
display(name)
display(name.lstrip()) # will remove extra spaces from left side
display(name.rstrip()) # will remove extra spaces from right side
display(name.strip()) # will remove extra spaces from both side

'     Saboor Hussain     '

'Saboor Hussain     '

'     Saboor Hussain'

'Saboor Hussain'

### Regix

In [52]:
import re

name : str = "         Saboor            Hussain         "

display(name)

name1: str = re.sub(' {2,100}',' ', name)   # ( text limit(min,max) , replace with , variable_name)
display(name1)

'         Saboor            Hussain         '

' Saboor Hussain '

### \n , \t , \b

In [ ]:
print("Name: \t\t Saboor Hussain")
print("\nName: Saboor Hussain")
print("\nName: \bSaboor Hussain")   # Remove Backspace

In [54]:
nostarch: str = "https://abc.com"
nostarch.removeprefix("https://")

'abc.com'

## Naming Rules

In [ ]:
# Variable Name cannot start with number
1name : str = "Saboor"

# use Underscore to define (Note: dont use number in the start of variable name)
_1name : str = "Saboor"

# Defining the typed based variable
name : str = "Saboor"

# Dont use spaces between variable name
student name : str = "saboor"

# use underscore ( "_" ) between variable name
student_name : str = "saboor"